<div id="<%= dom_id adventure %>">
  <p>
    <strong>User:</strong>
    <%= adventure.user_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= adventure.name %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= adventure.body %>
  </p>

</div>
