

<% content_for :title, "Adventures" %>

<div class="text-center">
  <h1 class="text-primary">Adventures</h1>
</div>

<div id="adventures" class="mt-4">
  <% @adventures.each do |adventure| %>
    <div class="adventure-item mb-3 p-3 border rounded bg-light">
      <%= render adventure %>
      <p>
        <%= link_to "Show this adventure", adventure, class: "btn btn-outline-primary" %>
      </p>
    </div>
  <% end %>
</div>

<div style="display: flex; justify-content: center; margin-top: 50px;">
  <%= link_to "New adventure", new_adventure_path, class: "btn btn-light-blue" %>
</div>

