<div id="<%= dom_id secret %>">
  <p>
    <strong>User:</strong>
    <%= secret.user_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= secret.name %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= secret.body %>
  </p>

</div>
