.logInForm {
    text-align: center;
    margin-top: 2%;
    border: 5px solid black;
    margin-left:40%;
    margin-right:40%;
    border-radius:10px;
}
#LoginImg {
    text-align: center;
}

#TitleText{
    text-align: center;
    font-size:60px;
    font-family:' sans-serif';
    font-weight: bold;
}
.actions{
    background-color: lavender;
    border-radius: 5px;
    text-wrap: stable;
}
.loginOptionsButton{
    text-decoration:none;
    color: black;
    text-align: center;
    border: 2px solid black ;
    border-radius: 5px;
    display: inline-block;
    background-color: lavender;
    padding:3px
}
#ifNotLoginOptions{
    margin-top: 12px;
    margin-bottom: 3px;
}
